<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
   <head>
      <meta charset="UTF-8">
      <title>Spring Boot File Upload Example</title>
   </head>
    
   <body>   
      <h3>Spring Boot File Upload Example</h3>
       
      <ul>
        <li><a th:href="@{/uploadOneFile}">Upload One File Example</a></li>
        <li><a th:href="@{/uploadMultiFile}">Upload Multiple Files Example</a></li>
      </ul>
	   
	  <h3>Upload One File:</h3>
       
      <!-- MyUploadForm -->
       
      <form th:object="${myUploadForm}" method="POST"
         action="" enctype="multipart/form-data">
         Description:
         <br>
         <input th:field="*{description}" style="width:300px;"/>                
         <br/><br/>  
         File to upload: <input th:field="*{fileDatas}" type="file"/>
         <br />  
         <input type="submit" value="Upload">
      </form>

   </body>
</html>